!!! 5

%head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link(rel="stylesheet" type="text/css" href="styles/reset.css")
    %link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    %link(rel="stylesheet" type="text/css" href="styles/main_styles.css")
    %title Collage Cut

%body
    %section.welcome_section
        %header.welcome_flag
        %img.dot_line.vert.left(src="interface/line_vert.png")
        %img.dot_line.right.vert(src="interface/line_vert.png")
        %img.dot_line.up.hor(src="interface/line_hor.png")
        %img.dot_line.down.hor(src="interface/line_hor.png")
        %section.welcome_description
            %p Put all your favorite photos together for free!
        %ol
            %li.benefit_box
                %div.ben_number.left
                    %p.digit 1
                %p.ben_text Create <strong> your own </strong> layout
            %li.benefit_box
                %p.ben_text Choose the photos <strong> you love </strong>
                %div.ben_number.right
                    %p.digit 2
            %li.benefit_box
                %div.ben_number.left
                    %p.digit 3
                %p.ben_text Resize & rearrange <strong> as you wish </strong>
        %button.welcome_button
            %p Let's get started
