.to_slide_down {
    top: 37vh;
}

.to_shrink {
    height: 12%;
    width: 80%;
    margin: 5vh 0;

    @media #{$tablets} {
        height: 15%;
        margin: 0;
        width: 100%;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
