.to_slide_down {
    top: 37vh;
    transition: top 0.3s;
}

.slide_down {
    top: 82vh;
}

.to_shrink {
    height: 12vh;
    width: 80vw;
    margin: 5vh 0;
    transition: height 0.3s, width 0.3s, margin 0.3s;
}

.shrink {
    margin: 2.5vh 0 1.5vh 0;
    height: 7vh;
    width: 50vw;
}

.to_show, .to_show_flex {
    display: none;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
