.welcome_flag {
    // IN ANIMATIONS
    // height: 12vh;
    // width: 80vw;
    // margin: 5vh 0;
    background-image: url("../interface/name_flag.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.welcome_description {
    position: relative;
    left: 10%;
    height: 15vh;
    width: 80vw;

    p {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        color: $primary-color-2;
        padding: 0 24px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.benefit_box {
    display: flex;
    height: 8vh;
    width: 70vw;
    margin: 6vh auto;
    border: 1px solid $primary-color-1;
    box-sizing: border-box;
    border-radius: 5px;

    .ben_text {
        padding: 0 8px;
        font-size: 18px;
        text-align: center;
        align-self: center;
        color: $primary-color-1;
        width: 57.5vw;

        strong {
            font-weight: bold;
        }
    }
}

.ben_number {
    position: relative;
    background-color: $primary-color-1;
    border-radius: inherit;
    height: 8vh;
    width: 12.5vw;
    top: -1px;

    &.right {
        left: 1px;
    }

    &.left {
        left: -1px;
    }

    .digit {
        font-weight: bold;
        font-size: 36px;
        text-align: center;
        color: white;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.welcome_button {
    position: absolute;
    top: 85vh;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    height: 8vh;
    width: 65vw;
    margin: auto;
    background: $primary-color-special;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    p {
        color: white;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
    }
}

.instruction_head {
    margin: auto;
    color: $primary-color-2;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.inst_step {
    font-size: 18px;
    color: $primary-color-2;

    &:nth-of-type(2) {
        margin-top: 8px;
    }
}

li > .inst_step {
    width: 60%;
}

.first_step {
    margin-right: auto;
}

.inst_list {
    margin: auto;
    height: 65vh;
    width: 90vw;
// IN ANIMATIONS
// display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inst_block {
    height: 13vh;
    justify-content: space-around;
    align-items: center;
}

.inst_plus {
    width: 15vw;
    height: 15vw;
}

.inst_rec {
    width: 30vw;
    height: 25vw;
}

.inst_circles {
    width: 30vw;
    height: 30vw;
}
