.welcome_flag {
    // IN ANIMATIONS
    // height: 12vh;
    // width: 80vw;
    // margin: 5vh 0;
    background-image: url("../interface/name_flag.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.main_section {
    height: 78vh;
    width: 100vw;
    overflow: hidden;
}

.welcome_description {
    position: relative;
    left: 10%;
    height: 15vh;
    width: 80vw;

    p {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        color: $primary-color-2;
        padding: 0 24px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.benefit_box {
    display: flex;
    height: 8vh;
    width: 70vw;
    margin: 6vh auto;
    border: 1px solid $primary-color-1;
    box-sizing: border-box;
    border-radius: 5px;

    .ben_text {
        padding: 0 8px;
        font-size: 18px;
        text-align: center;
        align-self: center;
        color: $primary-color-1;
        width: 57.5vw;

        strong {
            font-weight: bold;
        }
    }
}

.ben_number {
    position: relative;
    background-color: $primary-color-1;
    border-radius: inherit;
    height: 8vh;
    width: 12.5vw;
    top: -1px;

    &.right {
        left: 1px;
    }

    &.left {
        left: -1px;
    }

    .digit {
        font-weight: bold;
        font-size: 36px;
        text-align: center;
        color: white;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.proceed_button {
    position: absolute;
    top: 85vh;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    height: 8vh;
    width: 65vw;
    margin: auto;
    background: $primary-color-special;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    p {
        color: white;
        font-weight: bold;
        font-size: 24px;
        text-align: center;
    }
}

.instruction_head {
    margin: auto;
    color: $primary-color-2;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.inst_step {
    font-size: 18px;
    color: $primary-color-2;

    &:nth-of-type(2) {
        margin-top: 8px;
    }
}

li > .inst_step {
    width: 60%;
}

.first_step {
    margin-right: auto;
}

.inst_list {
    margin: auto;
    height: 65vh;
    width: 90vw;
// IN ANIMATIONS
// display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inst_block {
    height: 13vh;
    justify-content: space-around;
    align-items: center;
}

.inst_plus {
    width: 15vw;
    height: 15vw;
}

.inst_rec {
    width: 30vw;
    height: 25vw;
}

.inst_circles {
    width: 30vw;
    height: 30vw;
}

.collage_section {
    opacity: 0;
    width: 90vw;
    height: 85vh;
    margin: auto;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.collage_buttons_wrap {
    margin-top: 5vh;
    width: 90vw;
    display: flex;
    justify-content: space-around;

    button {
        height: 7.5vh;
        width: 40vw;
        border-radius: 5px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 24px;
        font-weight: bold;
    }
}

.layouts_button {
    color: $primary-color-1;
    background-color: white;
    border: 1px solid $primary-color-1;
}

.instructions_button {
    border: none;
    color: white;
    background-color: $primary-color-1;
}

.collage_main_frame {
    width: 85vw;
    height: calc(85vw * 0.75);
    background-color: rgba($primary-color-1, 0.25);
    display: flex;
}

.aspect_wrapper {
    margin-bottom: 5vh;
    display: flex;
    height: 10vh;
    width: 60vw;
    border: 1px solid $primary-color-1;
    border-radius: 5px;

    button {
        padding: 8px;
        border: none;
        border-radius: 5px;
        color: $primary-color-1;
        background-color: rgba(white, 0);
        width: 50%;
        height: 100%;
    }

    .aspect_name {
        font-size: 24px;
        text-align: center;
        border-right: 1px solid $primary-color-1;
    }

    .aspect_numbers {
        font-weight: bold;
        font-size: 36px;
        text-align: center;
    }
}

.collage_frame img {
    width: 100%;
    height: 100%;
}

.collage_main_frame {
    overflow: auto;
    overscroll-behavior-y: contain;
}

// Styled according to https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

[type="file"] + label {
    position: absolute;
    background-color: $primary-color-2;
    border-radius: 30px;
    color: $primary-color-special;
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
