.dot_line {
    position: absolute;
    z-index: -1;

    &.vert {
        top: 0%;
        height: 100vh;

        &.left {
            left: 10%;

            @media #{$tablets} {
                display: none;
            }
        }

        &.right {
            right: 10%;
        }
    }

    &.hor {
        left: 0;
        width: 100vw;

        &.up {
            top: 22vh;
        }

        @media #{$tablets} {
            display: none;
        }
        // IN ANIMATIONS
        // &.down {
        //     top: 37vh;
        // }
    }
}

.vert_arrow {
    width: 15%;
    align-self: flex-end;
    height: 200%;
}

.hor_arrow {
    align-self: flex-end;
}
