.dot_line {
    position: absolute;
    z-index: -1;

    &.vert {
        top: 0%;
        height: 100vh;

        &.left {
            left: 10%;
        }

        &.right {
            right: 10%;
        }
    }

    &.hor {
        left: 0;
        width: 100vw;

        &.up {
            top: 22vh;
        }

        &.down {
            top: 37vh;
        }
    }
}
