.page_wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    @media #{$tablets} {
        flex-direction: row;
        justify-content: space-around;
    }

    @media #{$phoneLandscape} {
        display: none;
    }
}

.side_menu {
    height: 100%;
    width: 100%;

    @media #{$tablets} {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-basis: 320px;
        flex-grow: 0;
    }
}

.welcome_section {
    height: 100%;
    width: 100%;
    overflow: hidden;

    @media #{$tablets} {
        height: 55vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.instructions_section {
    position: absolute;
    top: 15%;
    // Revealed by JS
    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
    margin: auto 5%;
    padding: 5% 0;
    border: 1px solid $primary-color-1;
    border-radius: 10px;

    @media #{$tablets} {
        position: static;
        display: flex;
        height: 40vh;
        opacity: 1;
    }
}

.collage_section {
    opacity: 0;
    width: 90vw;
    height: 85vh;
    margin: auto;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 0;

    @media #{$tablets} {
        opacity: 1;
        display: flex;
        flex-basis: 320px;
        flex-grow: 1;
        height: 100%;
    }
}

.orientation_message {
    display: none;

    @media #{$phoneLandscape} {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: $primary-color-1;
        color: $primary-color-special;
        font-size: 5vh;
    }
}

.results_section {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;

    .results_buttons {
        display: flex;
        flex-direction: row;
        width: 90vw;
        height: 10vh;
        align-items: center;
        justify-content: space-around;

        @media #{$tablets} {
            width: 50%;
        }
    }

    button, a {
        height: 50%;
        width: 40%;
        font-size: 18px;
        font-weight: bold;
        color: white;
        background-color: $primary-color-special;
        border-radius: 5px;
        border: none;

        @media #{$tablets} {
            font-size: 24px;
        }
    }

    .download_button {
        height: 100%;
        width: 100%;
    }
}
