.page_wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    @media #{$tablets} {
        flex-direction: row;
        justify-content: space-around;
    }
}

.side_menu {
    height: 100%;
    width: 100%;

    @media #{$tablets} {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex-basis: 320px;
        flex-grow: 0;
    }
}

.welcome_section {
    height: 100%;
    width: 100%;
    overflow: hidden;

    @media #{$tablets} {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.instructions_section {
    flex-direction: column;
    height: 70%;
    width: 100%;

    @media #{$tablets} {
        display: flex;
        flex-direction: column;
        height: 50vh;
        justify-content: space-around;
    }
}

.collage_section {
    opacity: 0;
    width: 90vw;
    height: 85vh;
    margin: auto;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media #{$tablets} {
        opacity: 1;
        display: flex;
        flex-basis: 320px;
        flex-grow: 1;
        height: 100%;
    }
}
