/* line 7, C:/Users/alnet/Documents/Collage/Collage/sass_styles/main_styles.scss */
html {
  font-family: 'Roboto', sans-serif;
}

/* line 11, C:/Users/alnet/Documents/Collage/Collage/sass_styles/main_styles.scss */
button {
  font-family: 'Roboto', sans-serif;
}

/* line 15, C:/Users/alnet/Documents/Collage/Collage/sass_styles/main_styles.scss */
* {
  box-sizing: border-box;
}

/* line 1, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_sections.scss */
.main_section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* line 1, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.welcome_flag {
  background-image: url("../interface/name_flag.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 11, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.welcome_description {
  position: relative;
  left: 10%;
  height: 15vh;
  width: 80vw;
}

/* line 17, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.welcome_description p {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #3D39FF;
  padding: 0 24px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 29, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.benefit_box {
  display: flex;
  height: 8vh;
  width: 70vw;
  margin: 6vh auto;
  border: 1px solid #510CFF;
  box-sizing: border-box;
  border-radius: 5px;
}

/* line 38, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.benefit_box .ben_text {
  padding: 0 8px;
  font-size: 18px;
  text-align: center;
  align-self: center;
  color: #510CFF;
  width: 57.5vw;
}

/* line 46, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.benefit_box .ben_text strong {
  font-weight: bold;
}

/* line 52, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.ben_number {
  position: relative;
  background-color: #510CFF;
  border-radius: inherit;
  height: 8vh;
  width: 12.5vw;
  top: -1px;
}

/* line 60, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.ben_number.right {
  left: 1px;
}

/* line 64, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.ben_number.left {
  left: -1px;
}

/* line 68, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.ben_number .digit {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 79, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.proceed_button {
  position: absolute;
  top: 85vh;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  height: 8vh;
  width: 65vw;
  margin: auto;
  background: #DA01FF;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

/* line 92, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.proceed_button p {
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

/* line 100, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.instruction_head {
  margin: auto;
  color: #3D39FF;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

/* line 108, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.inst_step {
  font-size: 18px;
  color: #3D39FF;
}

/* line 112, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.inst_step:nth-of-type(2) {
  margin-top: 8px;
}

/* line 117, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
li > .inst_step {
  width: 60%;
}

/* line 121, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.first_step {
  margin-right: auto;
}

/* line 125, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.inst_list {
  margin: auto;
  height: 65vh;
  width: 90vw;
  flex-direction: column;
  justify-content: space-around;
}

/* line 135, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.inst_block {
  height: 13vh;
  justify-content: space-around;
  align-items: center;
}

/* line 141, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.inst_plus {
  width: 15vw;
  height: 15vw;
}

/* line 146, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.inst_rec {
  width: 30vw;
  height: 25vw;
}

/* line 151, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.inst_circles {
  width: 30vw;
  height: 30vw;
}

/* line 156, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.collage_section {
  opacity: 0;
  width: 90vw;
  height: 85vh;
  margin: auto;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* line 167, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.collage_buttons_wrap {
  margin-top: 5vh;
  width: 90vw;
  display: flex;
  justify-content: space-around;
}

/* line 173, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.collage_buttons_wrap button {
  height: 7.5vh;
  width: 40vw;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  font-weight: bold;
}

/* line 183, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.layouts_button {
  color: #510CFF;
  background-color: white;
  border: 1px solid #510CFF;
}

/* line 189, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.instructions_button {
  border: none;
  color: white;
  background-color: #510CFF;
}

/* line 195, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.collage_main_frame {
  width: 85vw;
  height: calc(85vw * 0.75);
  background-color: rgba(81, 12, 255, 0.25);
}

/* line 201, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.aspect_wrapper {
  margin-bottom: 5vh;
  display: flex;
  height: 10vh;
  width: 60vw;
  border: 1px solid #510CFF;
  border-radius: 5px;
}

/* line 209, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.aspect_wrapper button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  color: #510CFF;
  background-color: rgba(255, 255, 255, 0);
  width: 50%;
  height: 100%;
}

/* line 219, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.aspect_wrapper .aspect_name {
  font-size: 24px;
  text-align: center;
  border-right: 1px solid #510CFF;
}

/* line 225, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.aspect_wrapper .aspect_numbers {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

/* line 1, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_esthetics.scss */
.dot_line {
  position: absolute;
  z-index: -1;
}

/* line 5, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_esthetics.scss */
.dot_line.vert {
  top: 0%;
  height: 100vh;
}

/* line 9, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_esthetics.scss */
.dot_line.vert.left {
  left: 10%;
}

/* line 13, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_esthetics.scss */
.dot_line.vert.right {
  right: 10%;
}

/* line 18, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_esthetics.scss */
.dot_line.hor {
  left: 0;
  width: 100vw;
}

/* line 22, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_esthetics.scss */
.dot_line.hor.up {
  top: 22vh;
}

/* line 33, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_esthetics.scss */
.vert_arrow {
  position: absolute;
  z-index: -1;
  top: 0%;
  height: 30vh;
  right: 15%;
}

/* line 41, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_esthetics.scss */
.hor_arrow {
  position: absolute;
  z-index: -1;
  width: 40vw;
  top: 30vh;
}

/* line 1, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_animations.scss */
.to_fade {
  opacity: 1;
  transition: opacity 0.6s;
}

/* line 6, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_animations.scss */
.fade {
  opacity: 0;
}

/* line 10, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_animations.scss */
.to_slide_down {
  top: 37vh;
  transition: top 0.3s;
}

/* line 15, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_animations.scss */
.slide_down {
  top: 82vh;
}

/* line 19, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_animations.scss */
.to_shrink {
  height: 12vh;
  width: 80vw;
  margin: 5vh 0;
  transition: height 0.3s, width 0.3s, margin 0.3s;
}

/* line 26, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_animations.scss */
.shrink {
  margin: 2.5vh 0 1.5vh 0;
  height: 7vh;
  width: 50vw;
}

/* line 32, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_animations.scss */
.to_show, .to_show_flex {
  display: none;
}

/*# sourceMappingURL=../styles/main_styles.map */