/* line 7, C:/Users/alnet/Documents/Collage/Collage/sass_styles/main_styles.scss */
html {
  font-family: 'Roboto', sans-serif;
}

/* line 11, C:/Users/alnet/Documents/Collage/Collage/sass_styles/main_styles.scss */
button {
  font-family: 'Roboto', sans-serif;
}

/* line 15, C:/Users/alnet/Documents/Collage/Collage/sass_styles/main_styles.scss */
* {
  box-sizing: border-box;
}

/* line 19, C:/Users/alnet/Documents/Collage/Collage/sass_styles/main_styles.scss */
body {
  overscroll-behavior: contain;
}

/* line 1, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_sections.scss */
.page_wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 1, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_sections.scss */
  .page_wrapper {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (max-width: 639px) and (orientation: landscape), screen and (max-height: 639px) and (orientation: landscape) {
  /* line 1, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_sections.scss */
  .page_wrapper {
    display: none;
  }
}

/* line 17, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_sections.scss */
.side_menu {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 17, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_sections.scss */
  .side_menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-basis: 320px;
    flex-grow: 0;
  }
}

/* line 30, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_sections.scss */
.welcome_section {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 30, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_sections.scss */
  .welcome_section {
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

/* line 43, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_sections.scss */
.instructions_section {
  position: absolute;
  top: 15%;
  display: none;
  opacity: 0;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
  margin: auto 5%;
  padding: 5% 0;
  border: 1px solid #510CFF;
  border-radius: 10px;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 43, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_sections.scss */
  .instructions_section {
    position: static;
    display: flex;
    height: 40vh;
    opacity: 1;
  }
}

/* line 65, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_sections.scss */
.collage_section {
  opacity: 0;
  width: 90vw;
  height: 85vh;
  margin: auto;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 65, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_sections.scss */
  .collage_section {
    opacity: 1;
    display: flex;
    flex-basis: 320px;
    flex-grow: 1;
    height: 100%;
  }
}

/* line 84, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_sections.scss */
.orientation_message {
  display: none;
}

@media screen and (max-width: 639px) and (orientation: landscape), screen and (max-height: 639px) and (orientation: landscape) {
  /* line 84, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_sections.scss */
  .orientation_message {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #510CFF;
    color: #DA01FF;
    font-size: 5vh;
  }
}

/* line 1, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.welcome_flag {
  background-image: url("../interface/name_flag.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 1, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
  .welcome_flag {
    height: 15%;
    margin: 0;
    width: 100%;
  }
}

/* line 18, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.welcome_description {
  margin: 0 auto;
  height: 15%;
  width: 80%;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 18, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
  .welcome_description {
    height: 15%;
  }
}

/* line 27, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.welcome_description h2 {
  font-weight: bold;
  font-size: 3vh;
  text-align: center;
  color: #3D39FF;
  padding: 0 24px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 27, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
  .welcome_description h2 {
    font-size: 2.5vh;
    padding: 0;
  }
}

/* line 44, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.benefit_list {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-around;
  padding: 0 15%;
  margin-top: 5%;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 44, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
  .benefit_list {
    height: 60%;
    padding: 0 5%;
    margin-top: 0;
  }
}

/* line 59, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.benefit_box {
  display: flex;
  height: 20%;
  border: 1px solid #510CFF;
  box-sizing: border-box;
  border-radius: 5px;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 59, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
  .benefit_box {
    height: 25%;
  }
}

/* line 70, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.benefit_box .ben_text {
  padding: 0 8px;
  font-size: 2.5vh;
  text-align: center;
  align-self: center;
  color: #510CFF;
  width: 80%;
}

/* line 78, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.benefit_box .ben_text strong {
  font-weight: bold;
}

/* line 84, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.ben_number {
  position: relative;
  background-color: #510CFF;
  border-radius: inherit;
  height: 103%;
  width: 20%;
  top: -1px;
}

/* line 92, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.ben_number.right {
  left: 1px;
}

/* line 96, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.ben_number.left {
  left: -1px;
}

/* line 100, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.ben_number .digit {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 111, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.proceed_button {
  position: absolute;
  top: 85vh;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  height: 8vh;
  width: 65vw;
  margin: auto;
  background: #DA01FF;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

/* line 124, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.proceed_button p {
  color: white;
  font-weight: bold;
  font-size: 3vh;
  text-align: center;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 111, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
  .proceed_button {
    display: none;
  }
}

/* line 136, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.instruction_head {
  color: #3D39FF;
  font-weight: bold;
  font-size: 4vh;
  text-align: center;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 136, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
  .instruction_head {
    font-size: 4vh;
  }
}

@media screen and (min-width: 640px) and (min-height: 920px) {
  /* line 136, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
  .instruction_head {
    font-size: 3vh;
  }
}

/* line 151, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.inst_step {
  font-size: 3vh;
  color: #3D39FF;
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 151, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
  .inst_step {
    font-size: 2.5vh;
  }
}

@media screen and (min-width: 640px) and (min-height: 920px) {
  /* line 151, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
  .inst_step {
    font-size: 2vh;
  }
}

/* line 165, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.inst_step strong {
  color: #DA01FF;
}

/* line 170, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.inst_list {
  margin: 0 auto;
  height: 75%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* line 179, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.collage_buttons_wrap {
  width: 90vw;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 179, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
  .collage_buttons_wrap {
    width: 50%;
  }
}

/* line 188, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.collage_buttons_wrap button {
  height: 7.5vh;
  width: 40vw;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3vh;
  font-weight: bold;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 188, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
  .collage_buttons_wrap button {
    width: 40%;
    min-width: 150px;
    font-size: 2.5vh;
  }
}

/* line 204, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.reset_button {
  color: #510CFF;
  background-color: white;
  border: 1px solid #510CFF;
}

/* line 210, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.instructions_button {
  border: none;
  color: white;
  background-color: #510CFF;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 210, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
  .instructions_button {
    display: none;
  }
}

/* line 220, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.collage_main_frame {
  width: 85vw;
  height: calc(85vw * 0.75);
  background-color: rgba(81, 12, 255, 0.25);
  display: flex;
  overflow: auto;
  overscroll-behavior-y: contain;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 220, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
  .collage_main_frame {
    width: 50vw;
    height: calc(50vw * 0.75);
  }
}

/* line 234, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.aspect_wrapper {
  display: flex;
  height: 10vh;
  width: 60vw;
  border: 1px solid #510CFF;
  border-radius: 5px;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 234, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
  .aspect_wrapper {
    width: 40%;
    min-width: 250px;
    height: 7%;
    margin: 0;
  }
}

/* line 248, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.aspect_wrapper .aspect_name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 5px;
  color: #510CFF;
  width: 50%;
  height: 100%;
  font-size: 2.5vh;
  text-align: center;
  border: none;
  border-right: 1px solid #510CFF;
  background-color: rgba(255, 255, 255, 0);
}

/* line 264, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.aspect_wrapper .aspect_numbers {
  border: none;
  border-radius: 5px;
  color: #510CFF;
  background-color: rgba(255, 255, 255, 0);
  margin: auto;
  height: 100%;
  font-weight: bold;
  font-size: 4vh;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 280, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.collage_frame {
  animation: appear 0.5s;
  cursor: crosshair;
}

/* line 284, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.collage_frame img {
  width: 100%;
  height: 100%;
  animation: 1s ease-in-out 0s 1 paused appear;
}

/* line 292, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

/* line 303, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
[type="file"] + label {
  position: absolute;
  background-color: #3D39FF;
  border-radius: 30px;
  color: #DA01FF;
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 322, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.loader_wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 330, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_components.scss */
.loader {
  border: 4px solid #3D39FF;
  border-top: 4px solid #DA01FF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

/* line 1, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_esthetics.scss */
.dot_line {
  position: absolute;
  z-index: -1;
}

/* line 5, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_esthetics.scss */
.dot_line.vert {
  top: 0%;
  height: 100vh;
}

/* line 9, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_esthetics.scss */
.dot_line.vert.left {
  left: 10%;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 9, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_esthetics.scss */
  .dot_line.vert.left {
    display: none;
  }
}

/* line 17, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_esthetics.scss */
.dot_line.vert.right {
  right: 10%;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 17, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_esthetics.scss */
  .dot_line.vert.right {
    left: 320px;
  }
}

/* line 26, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_esthetics.scss */
.dot_line.hor {
  left: 0;
  width: 100vw;
}

/* line 30, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_esthetics.scss */
.dot_line.hor.up {
  top: 22vh;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 26, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_esthetics.scss */
  .dot_line.hor {
    display: none;
  }
}

/* line 44, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_esthetics.scss */
.vert_arrow {
  width: 15%;
  align-self: flex-end;
  height: 200%;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 44, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_esthetics.scss */
  .vert_arrow {
    width: 10%;
    margin-right: 10%;
  }
}

/* line 55, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_esthetics.scss */
.hor_arrow {
  align-self: flex-end;
}

/* line 1, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_animations.scss */
.to_slide_down {
  top: 37vh;
}

/* line 5, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_animations.scss */
.to_shrink {
  height: 12%;
  width: 80%;
  margin: 5vh 0;
}

@media screen and (min-width: 640px) and (min-height: 600px) {
  /* line 5, C:/Users/alnet/Documents/Collage/Collage/sass_styles/_animations.scss */
  .to_shrink {
    height: 15%;
    margin: 0;
    width: 100%;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=../styles/main_styles.map */